---
import Button from '../Button/Button.astro';
import TwoColumnLayout from './TwoColumnLayout.astro';
import howWeWorkDiagram from '../../assets/How-we-work.svg';

export interface Props {
  title: string;
  paragraphs: string[];
  buttonText?: string;
  buttonHref?: string;
  imageSize?: 'default' | 'large';
}

const {
  title,
  paragraphs,
  buttonText = "Sound good? Let's chat",
  buttonHref = "/advice-service",
  imageSize = 'default',
} = Astro.props;
---

<section class="section section-dark w-full how-we-can-help-section">
  <div class="how-we-can-help-container">
    <TwoColumnLayout columnOrder="text-left" align="top" class="how-we-can-help-layout">
      <div slot="leftContent" class="how-we-can-help-content">
        <h2 class="how-we-can-help-heading">
          {title}
        </h2>
        {paragraphs.map((paragraph) => (
          <p class="how-we-can-help-paragraph">
            {paragraph}
          </p>
        ))}
        <div class="how-we-can-help-button-wrapper">
          <Button href={buttonHref} variant="teal" class="w-full md:w-auto">
            {buttonText}
          </Button>
        </div>
      </div>
      
      <div slot="rightContent" class={`how-we-can-help-image-wrapper ${imageSize === 'large' ? 'how-we-can-help-image-large' : ''}`}>
        <img 
          src={howWeWorkDiagram.src} 
          alt="Design process: Discover, Define, Develop, Deliver"
          class="how-we-can-help-image"
        />
      </div>
    </TwoColumnLayout>
  </div>
</section>
